body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: lightgrey;
    margin: 0;
}

:root {
    --btn-color: #56e5e8;
    --btn-color-hover: #92eaec;
}
header {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}
.home-btn a>button {
    background-color:blue;
    margin: 10px 10px;
    padding: 10px 25px;
    border-radius: 20px;
    transition: 0.5s ease;
    background-color: var(--btn-color);
    
} 


.home-btn button:hover {
    cursor: pointer;
    background-color: var(--btn-color-hover);
}

#timeSpent {
    font-size: 24px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}
.main-container {
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.main-container .container {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    text-align: center;
    width: 400px;
}
#toggle-mode {
    margin-top: 20px;
    padding: 5px 20px;
    font-size: 1em;
    border-radius: 20px;
    background-color: var(--btn-color);
    transition: 0.5s ease;
}
#toggle-mode:hover {
    cursor: pointer;
    background-color:#92eaec ;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    margin: 25px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: rgb(225, 229, 196);
    border: 2px solid #19989a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

#reset {
    align-items: center;
    width: 40% ;
    margin: 20px;
    padding: 10px 10px;
    font-size: 1em;
    border-radius: 20px;
    transition: 0.5s ease;
    background-color: #56e5e8; ;
}
#reset:hover {
    cursor: pointer;
    background-color:#92eaec 
}

.winning-cell {
    background-color: yellow;
}

#message {
    margin-top: 20px;
    font-size: 1.5em;
    color: #333;
}
.one {
    display: flex;
    flex-direction: column;
}
.one .three label {
    font-size: 20px;
}
.one .three {
    padding: 10px;
}
.one .three #difficulty {
    font-size: 20px;
    background-color: var(--btn-color);
}
