* {
  /* background-image: url("../images/land-1.jpg"); */
  font-family: Arial, sans-serif;
  /* background: #222; */
  margin: 0;
  padding: 0;
  /* background-color: red; */
  list-style: none;
  /* backdrop-filter: blur(5px); */
  text-decoration: none;
}

:root {
  --text-color: #eee;
  --text-color-black: #111 --main-bg: #333;
  --h1-text-color: #fff;
  --btn-bg: rgb(173, 18, 173);
  --btn-bg-hover: purple;
  --h2-font-size:2rem;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

hr {
  width: 2px;
  height: 25px;
  border: none;
  background-color: #eee;
}

header .logo img {
  width: 50px;
  border-radius: 50%;
}

header nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

header nav button {
  padding: 5px 10px;
  font-size: large;
  font-weight: bold;
  color: var(--text-color);
  border-radius: 5px;
  border: none;
  background-color: var(--btn-bg);
  transition: 0.3s ease;
}

header nav button:hover {
  background-color: var(--btn-bg-hover);
}

header nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

header nav ul li>a {
  font-size: large;
  color: #eee;
}

/* hero section */
.hero {
  background-image: url(../images/land-2.jpg);
  width: 100%;
  height: 60vh;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero .bg-filter {
  height: 100vh;
  backdrop-filter: blur(3px);
}

.hero-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  height: 100vh;
  /* width: 200px; */
  /* background: linear-gradient(to right, rgb(0, 0, 0), transparent,transparent); */
  background: rgba(0, 0, 0, 0.368);
}

.hero-body .hero-text {
  width: 600px;
  text-align: center;
  color: #eee;
  background-color: transparent;
  font-size: larger;
}

.hero-body .hero-text h1 {
  color: var(--h1-text-color);
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero img {
  width: 300px;
}

.call-to-action button {
  font-size: large;
  background-color: var(--btn-bg);
  color: var(--text-color);
  padding: 10px 20px;
  margin: 30px 0;
  border-radius: 20px;
  border: none;
  transition: 0.3s ease;
}

.call-to-action button:hover {
  background-color: var(--btn-bg-hover);

}

.features {
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 165px 100px; */
  padding: 23px 0;
  background-color: transparent;
  /* background-color: #ccc; */
}

.features-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 30px 0;
}

.features h2 {
  font-size: 2rem;
  color: #eee;
}

.features-container .box {
  width: 100%;
  /* background-color: #222; */
  background-color: transparent;
  width: 300px;
  box-shadow: 0px 0px 5px #222, inset 0px 0px 5px gray;
  border-radius: 10px;
  padding: 20px 10px;
}

.features-container .box img {
  width: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: none;
}

.features-container .box .text {
  text-align: left;
  padding: 10px;
}

.features-container .box .text p {
  color: var(--text-color);

}

.features-container .box .text h4 {
  margin-bottom: 10px;
  font-size: 1.3rem;
  color: var(--h1-text-color);
}

section.about{
  padding: 120px 120px;

}
/* about section */
.about {
  background-color: #eee;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.about h2{
  font-size: var(--h2-font-size);
  color: purple;
  /* text-transform: uppercase; */
}
.content .img-box img {
  width: 500px;
}

.about .text {
  width: 500px;
}
.about .text p{
  color: gray;
  font-size: 1.5rem;
  line-height: 1.3;
}