* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../images/land-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  background-color: rgb(143, 199, 255);
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container {
  width: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  box-shadow: 0px 0px 10px var(--btbg);
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 450px;
  width: 450px;
  justify-content: center;
  color: white;
}
i {
    font-size: 100px;
}
:root {
  --btbg: rgb(69, 64, 141);
  --hvbg: rgb(77, 232, 82);
}
input {
  width: 90%;
  height: 35px;
  border-radius: 10px;
  padding-left: 10px;
}

button {
  width: 120px;
  height: 35px;
  border-radius: 17px;
  background-color: var(--hvbt);
  font-weight: 30px;
  font-size: 20px;
  color: white;
}

button:hover {
  background-color: white;
  color: var(--hvbg);
}

a {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
