* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --text-color: #eee;
  --text-color-black: #111 --main-bg: #333;
  --h1-text-color: #fff;
  --btn-bg: rgb(173, 18, 173);
  --btn-bg-hover: purple;
  --h2-font-size: 2rem;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

hr {
  width: 2px;
  height: 25px;
  border: none;
  background-color: #eee;
}

header .logo img {
  width: 50px;
  border-radius: 50%;
}

header nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

header nav button {
  padding: 5px 10px;
  font-size: large;
  font-weight: bold;
  color: var(--text-color);
  border-radius: 5px;
  border: none;
  background-color: var(--btn-bg);
  transition: 0.3s ease;
}

header nav button:hover {
  background-color: var(--btn-bg-hover);
}

header nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

header nav ul li>a {
  font-size: large;
  color: #eee;
}

/* hero section */
.hero {
  background-image: url(../images/land-2.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero .bg-filter {
  height: 100vh;
  backdrop-filter: blur(3px);
}

.hero-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(0, 0, 0, 0.368);
}

.hero-body .hero-text {
  width: 600px;
  text-align: center;
  color: #eee;
  background-color: transparent;
  font-size: larger;
}

.hero-body .hero-text h1 {
  color: var(--h1-text-color);
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero img {
  width: 300px;
}

.call-to-action button {
  font-size: large;
  background-color: var(--btn-bg);
  color: var(--text-color);
  padding: 10px 20px;
  margin: 30px 0;
  border-radius: 20px;
  border: none;
  transition: 0.3s ease;
}

.call-to-action button:hover {
  background-color: var(--btn-bg-hover);

}

.features {
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 23px 0;
  background-color: transparent;
}

.features-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 30px 0;
}

.features h2 {
  font-size: 2rem;
  color: #eee;
}

.features-container .box {
  width: 100%;
  background-color: transparent;
  width: 300px;
  box-shadow: 0px 0px 5px #222, inset 0px 0px 5px gray;
  border-radius: 10px;
  padding: 20px 10px;
}

.box .snapshot {
  /* background-color: red; */
  border: solid white;
  margin: 0px;
}

.box .snapshot img {
  width: 100%;
}

.features-container .box .text {
  text-align: left;
  padding: 10px;
}

.features-container .box .text p {
  color: var(--text-color);

}

.features-container .box .text h4 {
  margin-bottom: 10px;
  font-size: 1.3rem;
  color: var(--h1-text-color);
}

/* about section */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 100px;
  padding-bottom: 40px;
  gap: 50px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.about h2 {
  font-size: var(--h2-font-size);
  color: purple;
}

.content .img-box img {
  width: 500px;
}


.about .text p {
  color: gray;
  font-size: 1.5rem;
  line-height: 1.3;
}

.container {
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-top: solid 3px purple;
}

.container .links a>p {
  color: blue;
}

.container .links a>p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.container .box h3,
.container .links p {
  display: inline;
}


              /* adjustments for different screens */
/* Screens >= 320 and <391*/
@media (min-width: 320px) and (max-width: 391px ){
  header {
    flex-direction: row;
    padding: 10px;
    gap: 55px;
    /* background-color: red; */
  }

  header nav ul {
    flex-direction: row;
    gap: 5px;
  }

  .hero-body {
    padding: 10px;
  }

  .hero-body .hero-text h1 {
    font-size: 30px;
  }

  .hero-body .hero-text {
    margin-top: 100px;
    width: 320px;
    font-size: 30px;
  }

  .hero img {
    width: 100%;
  }

  .call-to-action button {
    padding: 5px 10px;
    font-size: medium;
  }

  .features-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30px;
  }

  .features .features-container .box {
    width: 320px;
  }

  .about {
    padding: 50px 10px;
  }

  .about .content {
    display: flex;
    flex-direction: column;
  }

  .about .content .text,
  .about .content .img-box img {
    width: 350px;
  }
}


/* Extra Small Devices (Phones, <576px) */
@media (max-width: 767px) {
  header {
    flex-direction: row;
    padding: 10px;
  }

  header nav ul {
    flex-direction: row;
    gap: 10px;
  }

  .hero-body {
    padding: 10px;
  }

  .hero-body .hero-text h1 {
    font-size: 1.5rem;
  }

  .hero-body .hero-text {
    width: 350px;
    font-size: medium;
  }

  .hero img {
    width: 100%;
  }

  .call-to-action button {
    padding: 5px 10px;
    font-size: medium;
  }

  .features-container {
    display: flex;
    flex-direction: column;
    width: 350px;
  }

  .features-container .box {
    width: 100%;
    padding: 10px;
  }

  .about {
    padding: 50px 10px;
  }

  .about .content {
    display: flex;
    flex-direction: column;
  }

  .about .content .text,
  .about .content .img-box img {
    width: 350px;
  }
}

/* Small Devices (Small Tablets, ≥576px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  header {
    padding: 10px 20px;
  }

  header .logo img {
    width: 40px;
  }

  header nav button {
    padding: 5px;
    font-size: medium;
  }

  .hero-body .hero-text {
    width: 90%;
  }

  .features-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .features-container .box {
    width: 90%;
  }

  .content {
    flex-direction: column;
    gap: 30px;
  }

  .content .img-box img,
  .about .text {
    width: 90%;
  }
}

/* Medium Devices (Tablets, ≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  header {
    padding: 15px 30px;
  }

  header .logo img {
    width: 45px;
  }

  header nav button {
    padding: 5px 10px;
    font-size: large;
  }

  .hero-body .hero-text {
    width: 80%;
  }

  .features-container {
    width: 700px;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .features-container .box {
    width: 80%;
  }

  .content {
    flex-direction: column;
    gap: 40px;
  }

  /* .content .img-box img, */
  .about .text {
    width: 80%;
  }
}

/* Large Devices (Laptops, ≥992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  header {
    padding: 20px 40px;
  }

  header .logo img {
    width: 50px;
  }

  header nav button {
    padding: 10px 15px;
    font-size: larger;
  }

  .hero-body .hero-text {
    width: 70%;
  }

  .hero-body .features-container {
    width: 950px;
  }

  .features-container {
    flex-direction: row;
    gap: 50px;
  }

  .features-container .box {
    width: 45%;
  }

  .content {
    flex-direction: row;
    gap: 50px;
  }

  .about .text {
    width: 50%;
  }
}

/* Extra Large Devices (Desktops, ≥1200px) */
@media (min-width: 1200px) and (max-width: 1599.98px) {
  header {
    padding: 20px 50px;
  }

  header .logo img {
    width: 50px;
  }

  header nav button {
    padding: 10px 20px;
    font-size: larger;
  }

  .hero-body .hero-text {
    width: 60%;
  }

  .features-container {
    /* background-color: red; */
    width: 90%;
    flex-direction: row;
    gap: 60px;
  }

  .features-container .box {
    width: 30%;
  }

  .content {
    flex-direction: row;
    gap: 60px;
  }

  .about .text {
    /* background-color: red; */
    width: 60%;
  }
}

/* Ultra-Wide Devices (Large Desktops, ≥1600px) */
@media (min-width: 1600px) {
  header {
    padding: 20px 60px;
  }

  header nav ul li>a {
    font-size: 30px;
  }

  header .logo img {
    width: 60px;
  }

  header nav button {
    padding: 10px 25px;
    font-size: x-large;
  }

  .call-to-action button {
    padding: 30px 50px;
    font-size: 30px;
  }

  .hero-body .hero-text {
    width: 70%;
    font-size: 20px;
  }

  .hero-text p {
    font-size: 50px;
  }

  .hero-text h1 {
    font-size: 60px;
  }


  .features-container {
    flex-direction: row;
    width: 2000px;
    gap: 70px;
  }

  .features-container .box {
    width: 50%;
  }

  .features-container .box p {
    font-size: 50px;
  }

  .features-container .box .text h4 {
    font-size: 60px;
  }


  .content {
    flex-direction: row;
    gap: 70px;
  }

  .about .text {
    width: 50%;
  }

  .about .content .text p {
    font-size: 50px;
  }
}

/*Super Ultra-Wide Devices (2560px) */
@media (min-width: 2560px) {
  header {
    padding: 20px 80px;
  }

  header .logo img {
    width: 70px;
  }

  header nav button {
    padding: 15px 30px;
    font-size: 30px;
  }

  header nav ul {
    gap: 30px;
  }

  header nav ul li {
    font-size: 30px;
  }

  .hero-body .hero-text {
    /* background-color: red; */
    width: 80%;
  }

  .hero-body .hero-text h1 {
    font-size: 70px;
  }

  .hero-body .hero-text p {
    font-size: 30px;
  }

  .call-to-action button {
    padding: 20px 30px;
    font-size: 30px;
    border-radius: 40px;
  }

  .features-container {
    margin-top: 100px;
    flex-direction: row;
    /* background-color: blue; */
    width: 80%;
    gap: 80px;
  }

  .features-container .box {
    width: 30%;
    padding: 30px;
  }


  .features-container .box .text {
    padding: 15px;
  }

  .features-container .box .text h4 {
    font-size: 40px;
  }

  .features-container .box .text p {
    font-size: 30px;
  }

  .about {
    padding: 80px 200px;
  }

  .about h2 {
    font-size: 2.5rem;
  }

  .content {
    flex-direction: row;
    gap: 80px;
  }

  .content .img-box img {
    width: 600px;
  }

  .about .text {
    width: 70%;
  }
  .about .heading h2 {
    font-size: 70px;
  }

  .about .text p {
    font-size: 1.8rem;
  }

  .container {
    background-color: #eee;
    align-items: center;
  }

  .container .box {
    font-size: 40px;
  }

  .container .links p {
    font-size: 30px;
  }

  .container p {
    display: inline;
    color: grey;
    font-size: 25px;
  }
}
